#settings-block{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    max-width: 300px;
}

.flex{
    display: flex;
}

#loadStyleButton{
    display: contents;
}

